<!-- <div class="<div class="jumbotron">
	<div class="container">
		<h1>Hello, world!</h1>
		<p>Contents ...</p>
		<p>
			<a class="btn btn-primary btn-lg">Learn more</a>
		</p>
	</div>
</div>

 -->
<div class="jumbotron text-center">
	<h2>CloutCloud compensates influencers for their opinions and referrals!</h2>
</div>
<!--  <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
  -->                           <!-- Page heading-->
<!--                             <h2 class="mb-5">CloutCloud compensates influencers for their opinions and for respondent referrals!</h2>
                        </div>
                    </div>
                </div>
            </div>
 </header>
 -->
         <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Share Your Opinion and Earn</h3>
                            <p class="lead mb-0">Your opinions are valuable and companies are willing to pay for your input and the input of your network.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>The Anti-Panel</h3>
                            <p class="lead mb-0">We flip the model by giving the lion's share of compensation to respondents. And, you get compensated for making referrals!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Give Back to Your Network</h3>
                            <p class="lead mb-0">We enable earning opportunities for you directly and you can pass that benefit along to your followers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
               <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
						    <% unless user_signed_in? %>    
	                        <h2 class="mb-4">Sign up now, or Sign in</h2>
						      <li><%= link_to "Sign up", new_user_registration_path %></li>
						      <li><%= link_to "Sign in", new_user_session_path %></li>
						    <% end %>

                    </div>
                </div>
            </div>
        </section>
  